################################################################################
# File: .gitignore
#       Parrot repository .gitignore file.
#
# Author: Rambod Rahmani <rambodrahmani@autistici.org>
#         Created on Nov 5, 2019.
################################################################################

# eclipse ide folders
.metadata/

